* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

@import 'sass/_color';
@import 'sass/_typografy';

body {
  width: 100%;

  background-color: $black-dark;
}

.border {
  border: solid 1px red;
}

@import 'sass/_spacing';
@import 'sass/_layout';