//COLOR-BLACK
$black-normal: #141516;
$black-dark: #050607;
$black-light: #15171A;

//COLOR-WHITE
$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

//COLOR-BLUE
$blue-normal: #2DC7ED;
$blue-dark: #15AED4;
$blue-light: #4DDCFF;